@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Nunito, Arial, Helvetica, sans-serif;
  margin: 0;
}

.custom-margin {
  margin: 1rem;
}

.margin-nav {
  margin-left: 2rem;
}

.margin-nav2 {
  margin-right: 2rem;
}